@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  padding: 15px;
  
}

h1 {
  font-size: 40px;
  font-weight: bold;
}

button {
  height: 60px;
    width: 150px;
    border: 3px solid tomato;
    border-radius: 15px;
    background: none;
    font-size: larger;
    font-weight: bolder;
    cursor: pointer;
    color: tomato;
    transition: 0.3s ease;
  
  
}
button:hover {
  color: #fff;
  background: tomato;
}

.bContainer {
  display: flex;
  gap: 5px;
  justify-content: center;
}